<a href="/post/{{id}}">
  <p class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    <p class="is-size-3 has-text-left">{{title}}
      <span class="is-size-5 has-text-right">
        Posted by <span class="is-size-4">{{user.username}}</span> on {{format_date created_at}}
      </span>
    </p>
  </p>
  <p class="panel-block">{{post_contents}}</p>
</a>